@model Vaccinator.Models.Injection

@{
    ViewData["Title"] = "Edit";
}

<h1>Édition d'une injection</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VaccinType" class="control-label"></label>
                @Html.DropDownListFor(model => model.VaccinType, (SelectList)ViewData["ListeVaccinType"], "", new { @class = "form-control" })
                <span asp-validation-for="VaccinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personne" class="control-label"></label>
                @Html.DropDownListFor(model => model.Personne, (SelectList)ViewData["ListePersonne"], "", new { @class = "form-control" })
                <span asp-validation-for="Personne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriseDate" class="control-label"></label>
                <input asp-for="PriseDate" class="form-control" />
                <span asp-validation-for="PriseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RappelDate" class="control-label"></label>
                <input asp-for="RappelDate" class="form-control" />
                <span asp-validation-for="RappelDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
