@model Vaccinator.Models.VaccinType

@{
    ViewData["Title"] = "Création";
}

<h1>Création d'un type de vaccin</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cible" class="control-label"></label>
                <input asp-for="Cible" class="form-control" />
                <span asp-validation-for="Cible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscoveryYear" class="control-label"></label>
                <input asp-for="DiscoveryYear" class="form-control" />
                <span asp-validation-for="DiscoveryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
